<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 contect-tect">
        <%= link_to '< Go back', paintings_path, data: { turbolinks: false } %>
        <hr>
        <h2>Get in touch</h2>
        <p>
          For any inquieries that you have regarding a painting on the website,
          or any paintings that you would like commissioned, please get in
          touch using the form below.
        </p>
      </div>
    </div>
    <form class="contact-form">
      <div class="row">
        <div class="col-md-6">
          <input type="text" placeholder="name">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="email">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="painting">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="phone number(optional)">
        </div>
        <div class="col-md-12">
          <textarea placeholder="message"></textarea>
        </div>
      </div>
      <div class="text-center">
        <button class="site-btn">Send</button>
      </div>
    </form>
  </div>
</section>