	<!-- footer section start -->
	<footer class="footer-section text-center">
		<div class="container">
			<h2 class="section-title mb-5">Voice your interest</h2>
			<a href="" class="site-btn">Get in touch</a>
			<div class="social-links">
				<a href=""><span class="fa fa-instagram"></span></a>
				<a href=""><span class="fa fa-facebook"></span></a>
			</div>
			<div class="copyright">
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Web Design by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				<br>
				<small>Backend services provided by Charlie Campbell</small>
			</div>
		</div>
	</footer>
	<!-- footer section end -->