<footer class="footer-section text-center">
	<div class="container">
		<a href="" class="site-btn">Get in touch</a>
		<hr>
		<div class="copyright">
			Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Web Design by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			<br>
			<small>Backend services provided by Charlie Campbell</small>
		</div>
	</div>
</footer>