<footer class="footer-section text-center">
	<div class="container">
		<hr>
		<div class="copyright">
			Backend services provided by <a href="http://charlescampbell.me" target="_blank">Charlie Campbell</a>
			<br>
			<small>Template from <a href="https://colorlib.com" target="_blank">Colorlib</a></small>
		</div>
	</div>
</footer>