<header class="header-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-3">
				<p>Newquay | Cornwall</p>
			</div>
			<div class="col-lg-8 col-md-9">
				<% if request.original_url.to_s.include?('contact')%>
					<%= link_to 'Paintings', paintings_path, class: 'site-btn header-btn', data: { turbolinks: false } %>
				<% else %>
					<a href="mailto:lynne.campbell786@btinternet.com" class="site-btn header-btn">Get in touch</a>
				<% end %>
			</div>
		</div>
	</div>

	<div class="nav-switch">
		<i class="fa fa-bars"></i>
	</div>
</header>